<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de Clientes</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Email</th>
            </tr>
        </thead>
        {% for c in cli %}
        <tbody>
            <tr>
                <td>{{ c.nome }}</td>
                <td>{{ c.sobrenome }}</td>
                <td>{{ c.data_nascimento }}</td>
                <td>{{ c.cpf }}</td>
                <td>{{ c.telefone }}</td>
                <td>{{ c.email }}</td>
            </tr>
        </tbody>
            {% endfor %}
    </table>
    





    
</body>
</html>